@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #1e1e2f;
  color: #d4d4dc;
  /* padding: 10px; */
     user-select: text !important;
   /* cursor: text; */
}




h2 {
  @apply text-xl md:text-4xl
}

p {
  @apply text-xl tracking-tight leading-relaxed
  
}

/* span {
  @apply text-purple-600
} */


.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(19, 68, 202, 0.2), transparent 70%);
}

/* .bg-primary-color {
    @apply bg-purple-600
} */